.myFrame {
    margin-top:130px;
    margin-left: 50px;
    height:800px;
    width:70%;
    border:2px solid rgb(49, 48, 48);
    box-shadow: 1px 4px 5px rgb(92, 90, 90);
    background-color: rgb(241, 241, 241);
    border-radius : 5px; 
    
  }

  .Hall1 {
    margin-top: 0px;
    margin-left: 65px;
    height:250px;
    width:35%;
    border:1px solid black;
    float: left;
   

  }
  .Hall2 {
    margin-top: 0px;
    margin-right: 65px;
    height:250px;
    width:35%;
    border:1px solid black;
    float: right;
    

  }
  .Hall3 {
    margin-top: 100px;
    margin-left: 65px;
    height:250px;
    width:35%;
    border:1px solid black;
    float: left;
    

  }
  .Hall4 {
    margin-top: 100px;
    margin-right: 65px;
    height:250px;
    width:35%;
    border:1px solid black;
    float: right;
    

  }
  
  .hall-view {
    margin-top: 20px;
    margin-left: 15px;
    height:320px;
    width:50%;
    border:1px solid black;
    border-radius: 4px;
    position: relative;
    float: left;
  }
  .hall1-img {
    background-image: url('../images/hall1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   
  }
  .hall2-img {
    background-image: url('../images/hall2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   
  }
  .hall3-img {
    background-image: url('../images/hall3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   
  }
  .hall4-img {
    background-image: url('../images/hall4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   
  }



  .HallPic {
    background-image: url('../images/sallax.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   
  }
  .container4 {
    
    position: relative }

.container4 h1 {
    margin: 0;
    color:ivory;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

    .Login {
      margin-left: 5px;
      margin-top: 1px;
    
      border:0px solid black;
    }

    .button{
      background-color: rgb(250, 250, 249);
      border:2px rgb(77, 76, 76);
      padding:5px 10px;
      text-align: center;
      font-size: 25px;
      float:right;
      text-decoration: none;
      margin-top: 3px;
      margin-right: 10px;
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgb(41, 41, 41);
    }

    .button:hover {
      background: rgb(49, 49, 49);
      color: rgb(255, 255, 255);
    }
  
  

    input{
      width:50%;
      height:40px;
      display: block;
      margin:auto;
      padding:10px;
    }

    .close {
      font-size: 45px;
      position:absolute;
      top:0;
      right:14px;
      transform: rotate(45deg);
      cursor: pointer;
    }
    .close2 {
      font-size: 45px;
      position:absolute;
      top:0;
      right:14px;
      transform: rotate(45deg);
      cursor: pointer;
    }
    .closehall1 {
      font-size: 55px;
      position:absolute;
      top:0;
      right:14px;
      transform: rotate(45deg);
      cursor: pointer;
    }
    .closehall2 {
      font-size: 55px;
      position:absolute;
      top:0;
      right:14px;
      transform: rotate(45deg);
      cursor: pointer;
    }
    .closehall3 {
      font-size: 55px;
      position:absolute;
      top:0;
      right:14px;
      transform: rotate(45deg);
      cursor: pointer;
    }
    .closehall4 {
      font-size: 55px;
      position:absolute;
      top:0;
      right:14px;
      transform: rotate(45deg);
      cursor: pointer;
    }

    .bg-modal{
      width:100%;
      height:100%;
      background-color:rgba(0, 0,0, 0.6);       
      position:absolute;
      top:0;
      display: none;
      justify-content: center;
      align-items: center;
        }
        
        .hall1-modal{
          width:100%;
      height:100%;
      background-color:rgba(0, 0,0, 0.6);       
      position:absolute;
      top:0;
      display: none;
      justify-content: center;
      align-items: center;
 }
 .hall2-modal{
  width:100%;
height:100%;
background-color:rgba(0, 0,0, 0.6);       
position:absolute;
top:0;
display: none;
justify-content: center;
align-items: center;
}

.hall3-modal{
  width:100%;
height:100%;
background-color:rgba(0, 0,0, 0.6);       
position:absolute;
top:0;
display: none;
justify-content: center;
align-items: center;
}

.hall4-modal{
  width:100%;
height:100%;
background-color:rgba(0, 0,0, 0.6);       
position:absolute;
top:0;
display: none;
justify-content: center;
align-items: center;
}
 

        .hall-content{
          width:950px;
          height:700px;
          background-color: rgb(255, 253, 253);
          border-radius: 5px;
          text-align: center;
          padding:10px;
          position: relative;
          }





        .bg-modal2{
          width:100%;
          height:100%;
          background-color:rgba(0, 0,0, 0.6);     
          position:absolute;
          top:0;
          display: none;
          justify-content: center;
          align-items: center;
            }


    .modal-content{
      width:600px;
      height:400px;
      background-color: rgb(255, 253, 253);
      border-radius: 5px;
      text-align: center;
      padding:10px;
      position: relative;
    }
    .modal-content2{
      width:600px;
      height:600px;
      background-color: rgb(255, 253, 253);
      border-radius: 5px;
      text-align: center;
      padding:10px;
      position: relative;
    }
    

    .submit-button{
      
      background-color: rgb(37, 84, 146);
      border:2px rgb(37, 37, 37);
      color:white;
  
      padding:10px 20px;
      text-align: center;
      font-size: 20px;
      margin-top: 3px;
      margin-right: 10px;
      margin-bottom: 15px;
      border-radius: 20px;
      box-shadow: 5px 5px 10px rgb(122, 182, 182);
      text-decoration: none;

    }
    .submit-button:hover {
      color: rgb(37, 84, 146);
      background-color: white;
    }
   
    .form-message{
      text-align: center;
      margin-bottom: 1rem;
    }
    .form-message-error{
      color:var(--color-error);
    }

    .form-message-success{
      color:var(--color-succes);

    }
    
    .specifics{
     margin-top:0px;
     text-align: left;
     

    }
    .specifics h2 {
      padding:20px;
      text-align: center;
    }

    .specifics  li{
     padding:10px;
     padding-left: 500px;
      font-size: 20px;
     display:block;
     margin-left: 10px;

    }

    .rezervimi{
      margin-top: 30px;
      width:100%;
      height: 35%;
      display: block;
    }

    .rezervo{
      width:100%;
      height:35px;
    }

    .rezervo-head{
      float:right;
      font-size: 25px;
      padding-right: 300px;
    }
    .rezervo-orar{
      float:left;
      font-size: 25px;
      padding-left: 30px;
    }

    

    .rezervimi input{
      float:left;
       width:15%;
       margin-left: 25px;
      height:40px;
      padding:10px;
    }

    #error {
      color:red;
    }

    #error2{
      color: red;
    }

    #error-s1{
      color:red;
    }
    #error-s2{
      color:red;
    }
    #error-s3{
      color:red;
    }
    #error-s4{
      color:red;
    }

    #hall1{
      border:1px solid black;
    }

    .orari-rezervo{
      width:100%;
      height:100%;
      overflow: hidden;
    }

    .orari{

      width:40%;
      height:100%;
      float:left;
    }

    .orari th, td{
      padding:15px;
      border:1px solid black;
    }

    .orari table{
      margin-left: 15px;
      width:100%;
      border:2px solid black;
    }


    .rezervimet{
      margin-top: 10px;
     
      float:right;
      width: 55%;
      height:100%;
      position: relative;
      display:block;
    }

    .rezervimet input{
      width:120px;
      height:40px;
      display: block;
      padding:10px;
      margin-block:10px;
      margin-bottom: 20px;
    }
   